:root {
    --secondary-colour: #B4DDFF;
    --quaternary-colour: #0184FD;
    --default-gap: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
font-family: Arial, Helvetica, sans-serif;
}

h3 {
    font-size: 22px;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

p {
    line-height: 1.8rem;
}

nav {
    max-width: 480px;
    width: 100%;
    min-height: 80px;
    background-color: #0184FD;
    margin: auto;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    min-height: 80px;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

#menu-icon {
    font-size: 1.5rem;
    color: white;
}

section {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.container {
    max-width: 480px;
    width: 100%;
    border: 1px solid black;
    margin:0 auto;
    padding-left: 1rem;  
    padding-right: 1rem;
}

.row {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    gap: var(--default-gap);
}

.col {
    flex-grow: 1;
    flex-basis: 0;
}

.col-1-3 {
    flex-basis: calc(100% / 3) - var(--default-gap);
}

.col-2-3 {
    flex-basis: calc((100% / 3) * 2) - var(--default-gap);
}

.col-1-2 {
    flex-basis: calc(50% - var(--default-gap));
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 10px;
}

.secondary-colour-card {
    background-color: var(--secondary-colour);
    text-align: left;
}

.secondary-colour-card h3 {
    color: #0184FD;
}

.secondary-colour-card p {
    color: #5A6E7F;
    font-weight: bold;
}

.btn  {
    border-radius: 1rem;
    border: none;
    padding: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.blue-btn {
    background-color: var(--quaternary-colour);
    width: 170px;
}

.blue-btn i {
    font-size: 1rem;
    color: white;
    margin-right: 0.5rem;
}

.blue-icon {
    font-size: 4rem;
    color: var(--quaternary-colour);
}

.apple-cta {
    color: white;
    font-weight: bold;
}

.secondary-colour-card img {
    height: 300px;
}

.icon-container {
    text-align: center;
    padding: 2rem 4rem;
}

.section-about-us {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url(../img/about.jpg);
    background-size: cover;
}
